@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgb(227, 219, 216);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.aboutme {
    padding: 40px;
    background-color: darkolivegreen;
    color: white;

}

#flowers {
    background-image: url("C:\\Users\\yimin\\rona\\northeastern\\extra coding!\\myWebsite\\flowers.jpg");
}

.intro {
    background-image: url("C:\\Users\\yimin\\rona\\northeastern\\extra coding!\\myWebsite\\flowers.jpg");
    text-align: center;
    padding: 40px;
    background-color: lightblue;
    color: darkolivegreen;
    font-size: 50px;
    font-weight: bolder;

}

.project {
    padding: 40px;
    background-color:lightpink;
}

.flex {
    display: flex;
    align-items: center;
    gap: 75px;
}

#rectangle {
    width: 200px;
    height: 100px;
    background: white;
}

.contact {
    padding: 40px;
    background-color: lightgoldenrodyellow;
    color: darkolivegreen;
}
